/******************************************************************************
 *  General
 *****************************************************************************/

body, table, div, p, dl {
		font: 400 13px/22px arial,sans-serif;
}

body {
        background-color: #EEE;
        color: black;
        margin: 0;
}

/******************************************************************************
 *  Page width
 *****************************************************************************/

div.contents {
        width: 760px;
        margin-left: auto;
        margin-right: auto;
		margin-top: 10px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 20px;
        background-color: white;
        border-radius: 8px;
		border: 1px solid #AAA;
}

div.contents p:first-of-type {
		color: #666;
}

div.textblock p:first-of-type {
		color: #666;
}

div.header {
        width: 760px;
        margin-left: auto;
        margin-right: auto;
		margin-top: 10px;
        padding-left: 60px;
        padding-right: 60px;
		background-image: none;
        background-color: white;
        border-radius: 8px;
		border: 1px solid #AAA;
}

#top {
        width: 880px;
        margin-left: auto;
        margin-right: auto;
}

#MSearchBox {
        margin-top: 6px;
        margin-left: 250px;
		right: auto;
}

address.footer {
        width: 880px;
        margin-left: auto;
        margin-right: auto;
}



/******************************************************************************
 *  Navigation bar
 *****************************************************************************/


#projectname {
		font: bold 300% "courier new",courier,monospace;
}

div.headertitle {
		padding: 5px 5px 0px 0px;
}

div.title {
		color: #2B4068;
		padding-top: 16px;
		padding-bottom: 16px;
		font: bold 140% "courier new",courier,monospace;
		margin: auto;
}

#navrow1 {
		border-top: 1px solid #7092BE;
}


#titlearea {
		border-bottom: none;
}

.tablist li {
		line-height: 30px;
		background-image: url('../images/tab_b_alt.png');
}

.tablist a, .navpath li.navelem a, .tablist li.current a, .tablist a:hover {
		text-shadow: none;
}

.navpath li.navelem a {
		color: white;
}

.navpath ul {
		background-image: url('tab_a.png');
		border: none;
}

li.navelem {
		padding: 0 20px;
		font-style:italic;
}

.tabs {
    	font-size: 12px;
}

.tabs2, .tabs3, .tabs4 {
    	font-size: 11px;
}

.tabs, .tabs2, .tabs3, .tabs4 {
		border-right: 1px solid #7092BE;
		border-left: 1px solid #7092BE;
		background-image: url('../images/tab_b_alt.png');
}


/******************************************************************************
 *  TestFooter
 *****************************************************************************/

hr.footer {
        display: none;
}

.footer {
        background-color: #EEE;
}

/******************************************************************************
 *  Text content
 *****************************************************************************/



h2 {
		margin-top: 30px;
		margin-bottom: 0px;
		margin-left: 15px;
        font-weight: bold;
		font-size: 115%;
		color: #2B4068;
}

h1, h2.groupheader, tr.heading h2 {
		margin-left: -10px;
		margin-top: 30px;
		margin-bottom: 10px;
		padding-left: 8px;
		padding-top: 6px;
		padding-bottom: 4px;
		font: bold 115% "courier new",courier,monospace;
		color: white;
		background-image: url('tab_a.png');
		background-color: white;
		border-top: none;
		border-bottom: none;
		border-radius: 8px;
		background-repeat: repeat-x;
		background-position: 0 -5px;
		width: 101%;
}


div.textblock {
		margin-top: 20px;
}


p.startli, p.startdd, p.starttd {
		margin-top: 1em;
		margin-bottom: 1em;
}

/** Workaround where image in brief class description creates unwanted "." caption */
.caption {
		display: none;
}


.memproto, dl.reflist dt {
		background-image: none;
		background-color: white;
		text-shadow: none;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

div.memdoc {
		background-image: none;
		color: #666;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

div.memdoc p {
		line-height: normal;
		margin-left: 40px;
}

div.toc {
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
		margin: 10px 0px 0px 20px;
		width: 225px;
}

div.textblock h3 {
		display: none;
}

table.memname tbody tr:first-child td.paramtype {
		padding-top: 50px;
}

table.memname tbody tr td {
		line-height: normal;
}

table.memname tbody tr td.paramtype {
		padding-left: 40px;
}

table.memname tbody tr td.memname {
		position: absolute;
		width: 760px;
}

dl.section.user dd {
		text-align: justify;
		margin-right: 40px;
		color: #666;
}

/******************************************************************************
 *  Class/namespace indices 
 *****************************************************************************/

.directory tr.even {
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		border-top: 1px solid rgba(0, 0, 0, 0.05);
		background-color: white;
}

td.entry {
	padding-top: 3px;
}


/******************************************************************************
 * Code syntax highlighting
 *****************************************************************************/

div.line {
	line-height: normal;
}

span.comment {
		color: green;
}

span.preprocessor, span.keyword, span.keywordflow, span.keywordtype {
		color: darkred;
        font-weight: bold;
}

a.code, a.code:visited {
		color: #4665A2;
		font-weight: bold;
}

div.fragment {
		color: black;
		border-color: #AAA;
		padding: 14px 14px 14px 14px;
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: white;
		border-radius: 8px 8px 8px 8px;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
		border-style: dashed;
}




/******************************************************************************
 * Brief member descriptions 
 *****************************************************************************/

.mdescLeft, .mdescRight, .memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight, .memTemplParams {
		background-color: white;
}

.directory td.desc {
		padding-bottom: 1px;
}

.params, .paramname, .retval, .paramname {
		vertical-align: top;
		padding-right: 8px;
}

dl.tparams, dl.params {
		color: black;
}

div.memitem {
		margin-bottom: 30px;
		margin-top: 30px;
}

.memTemplParams, td.memTemplItemLeft, td.memItemLeft {
		padding-left: 20px;
		text-align: justify;
		font-family: "courier new",courier,monospace;
		font-size: 85%;
}

.memTemplParams {
		color: darkGoldenrod;
		white-space: normal;
}

td.memTemplItemRight, td.memItemRight {
		font-family: "courier new",courier,monospace;
}

td.memTemplItemLeft, td.memItemLeft {
		color: darkCyan;
}

div.groupHeader {
		margin-left: 10px;
		margin-bottom: 12px;
}

td.memSeparator {
		border-bottom: none;
		border-top: 1px dashed #999;
        line-height: 8px;
}

td.mdescLeft, td.mdescRight {
		padding-top: 6px;
		padding-bottom: 6px;
		color: #666;
}

td.memname, td.paramtype, div.memtemplate {
		font-family: "courier new",courier,monospace;
}

.memtemplate {
		font-size: 85%;
		color: darkGoldenrod;
}

td.paramname {
		font-family: "courier new",courier,monospace;
		font-weight: bold;
		color: darkred;
}
